# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Virtual environments
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and model files
*.h5
*.pt
*.pth
*.ckpt
*.pkl
*.npz
*.npy
*.zip
*.tar
*.tar.gz
*.csv
*.tsv
datasets/
models/
checkpoints/

# Images and media
*.jpg
*.jpeg
*.png
*.gif
*.mp4

# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/
